.footer {
  padding: {
    top: 48px;
    bottom: 48px;
  }
  position: relative;
  overflow: auto;
  border-top: 1px solid rgba($white, .3);
  background-color: $black;
  box-shadow: 0 -4px 0 0 $black;
  z-index: 2;
  width: 100%;
  @media (min-width: 780px) {
    min-height: 70vh;
  }
}

.l-wrap--footer {
  margin: {
    right: auto;
    left: auto;
  }
  max-width: 940px;
  @media (max-width: 579px) {
    width: 78%;
  }
  @media (min-width: 580px) {
    width: 90%;
  }
}

.footer__about {
  max-width: 550px;
  font-weight: 300;
  line-height: 1.66;
  color: lighten($d-gray, 18%);
  @media (max-width: 579px) {
    font-size: 15px;
  }
  @media (min-width: 580px) {
    font-size: 18px;
  }
  @media (min-width: 780px) {
    min-height: 222px;
  }
}

.footer__sponsors {
  margin: 60px auto 0;
  padding-top: 45px;
  width: 90%;
  max-width: 940px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__sponsor {
  margin: 0 26px 36px;
  display: inline-block;
  height: 100px;
  width: 90px;
  background: {
    image: url(/images/sponsors.png);
    size: 100%;
  }
  background-size: 100%;
  font: {
    style: italic;
    weight: 300;
    size: 12px;
  }
  text-align: center;
  color: $white;
  opacity: .4;
  @include transition-duration(.25s);
  @include transition-property(opacity);
  &:focus, &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

.footer__sponsor__ruby_central {
  background-position: 0 4px;
}

.footer__sponsor__dockyard {
  background-position: 0 -204px;
}

.footer__sponsor__dnsimple {
  background-position: 0 -291px;
}

.footer__sponsor__datadog {
  background-position: 0 -634px;
}

.footer__sponsor__runscope {
  background-position: 0 -469px;
}

.footer__sponsor__fastly {
  background-position: 0 -541px;
}

.footer__sponsor__honeybadger {
  background-position: 0 -717px;
}

.footer__sponsor__domainr {
  background-position: 0 -804px;
}

.footer__sponsor__whitesource {
  background-position: 0 -885px;
}

.footer__sponsor__logo {
  margin-top: 5px;
  width: 100%;
}
