---
name: ci

on: [pull_request]

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: guides
          persist-credentials: false

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: ruby/rubygems
          path: rubygems
          ref: "4.0"
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@0481980f17b760ef6bca5e8c55809102a0af1e5a # v1.263.0
        with:
          ruby-version: 3.4.6
          rubygems: 3.7.2
          bundler-cache: true
          working-directory: guides

      - name: Build jekyll
        run: bundle exec jekyll build
        working-directory: guides

      - name: Generate command guide
        run: RUBYOPT="--disable-gems -I../rubygems/lib" bundle exec rake command_guide && git diff --exit-code
        working-directory: guides

      - name: Lint generated markdown
        run: bundle exec mdl --rules MD009,MD012 command-reference.md
        working-directory: guides
