---
name: ci

on: [pull_request]

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: guides
          persist-credentials: false

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ruby/rubygems
          path: rubygems
          ref: "4.0"
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: 4.0
          bundler-cache: true
          working-directory: guides

      - name: Build jekyll
        run: bundle exec jekyll build
        working-directory: guides

      - name: Generate command guide
        run: RUBYOPT="--disable-gems -I../rubygems/lib" RUBYGEMS_DIR="../rubygems" bundle exec rake command_guide && git diff --exit-code
        working-directory: guides

      - name: Lint generated markdown
        run: bundle exec mdl --rules MD009,MD012 command-reference.md
        working-directory: guides
